<ng-container *ngIf="loading"><app-loading></app-loading></ng-container>

<div *ngIf="producto; else notFound">
  <div class="detalle-container">
    <div class="detalle-imgContainer">
      <img
        [src]="'../../assets/' + producto.image + '.jpg'"
        class="detalle-producto__img"
      />
    </div>
    <mat-card class="detalle__card">
      <div class="detalle__card_titles">
        <mat-card-title class="detalle__card-title">{{
          producto.item
        }}</mat-card-title>
        <mat-card-subtitle class="detalle__card-price">{{
          producto.price | currency: "ARS":"symbol-narrow":"1.2-2"
        }}</mat-card-subtitle>
      </div>
      <ng-container *ngIf="producto.tarjetaPromo">
        <h3 class="detalle__payment">
          {{ producto.tarjetaPromo }} {{ producto.cuotas }} sin interés
        </h3></ng-container
      >
      <div class="detalle-descripcion">
        <p class="detalle-descripcion__p">
          {{ producto.description }}
        </p>
      </div>
      <div *ngIf="producto.stock">
        <div class="detalle__stock">
          <span class="detalle__stock_disp">Stock Disponible</span>
          <mat-icon class="icon-payment">alarm_on</mat-icon>
        </div>
      </div>
    </mat-card>
  </div>
  <button class="detalle__comprar" mat-flat-button>Comprar</button>
  <!--<span class="compra__realizada">Gracias por su Compra!</span>-->
</div>

<ng-template #notFound
  ><ng-container *ngIf="!loading"><app-not-found></app-not-found></ng-container
></ng-template>
