<div class="notFound">
  <div class="notFound__icon">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="192"
      height="192"
      fill="#de7c7c"
      viewBox="0 0 256 256"
    >
      <rect width="256" height="256" fill="none"></rect>
      <line
        x1="160"
        y1="96"
        x2="96"
        y2="160"
        fill="none"
        stroke="#de7c7c"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="16"
      ></line>
      <line
        x1="160"
        y1="160"
        x2="96"
        y2="96"
        fill="none"
        stroke="#de7c7c"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="16"
      ></line>
      <rect
        x="40"
        y="40"
        width="176"
        height="176"
        rx="8"
        stroke-width="16"
        stroke="#de7c7c"
        stroke-linecap="round"
        stroke-linejoin="round"
        fill="none"
      ></rect>
    </svg>
  </div>
  <div class="notFound__description">
    <h4 class="notFound__code">Error 404</h4>
    <p class="notFound__p">Ups... El elemento que intenta buscar no existe</p>
  </div>
</div>
