<mat-sidenav-container class="sidenav__container">
  <mat-sidenav
    [mode]="mediaMatch.matches ? 'over' : 'side'"
    [(opened)]="opened"
    class="sidenav__side"
  >
    <button mat-button class="sidenav_btn">Productos</button>
    <button mat-button class="sidenav_btn">Registro</button>
    <button mat-button class="sidenav_btn">Perfil</button>
  </mat-sidenav>

  <mat-sidenav-content
    ><div class="scrollable">
      <div
        [class]="
          opened ? 'content content__onOpen' : 'content content__onClose'
        "
      >
        <ng-content></ng-content>
      </div></div
  ></mat-sidenav-content>
</mat-sidenav-container>
