.sidenav__container {
  width: 100%;
  /*min-height: calc(100% - 64px)*/
  /*64px es el height del mat-toolbar del componente topbar*/
  background-color: #000000;
  color: black;
}

.sidenav__side {
  padding: 0.8rem 0rem;
  min-width: 14rem;
  width: 20rem;
  /*position: fixed;
  z-index: 10;*/
}

@media (max-width: 70em) {
  .sidenav__side {
    width: 14rem;
  }
}
@media (max-width: 60em) {
  .sidenav__side {
    width: 100%;
    height: 40%;
    transform: translate3d(0, -100%, 0);
  }
}

.sidenav_btn {
  width: 100%;
  padding: 0.3rem 0rem;
}

.content {
  transition: all 0.9s 0.04s;
  height: calc(100vh - 160px);
  overflow-y: scroll;
}

.content__onOpen {
  padding: 3rem 2rem;
}

.content__onClose {
  padding: 3rem 5rem;
}
@media (max-width: 90em) {
  .content__onClose {
    padding: 3rem 1rem;
  }
}

.copyright {
  color: white;
  line-height: 1.3;
  font-weight: 300;
  font-size: 0.7rem;
  position: absolute;
  top: 79%;
  right: 50%;
  text-align: center;
  transform: translateX(50%);
  width: 85%;
}
