<mat-sidenav-container class="sidenav__container">
  <mat-sidenav
    [mode]="mediaMatch.matches ? 'over' : 'side'"
    [(opened)]="opened"
    class="sidenav__side"
  >
    <a mat-button class="sidenav_btn" routerLink="/noExiste">Opcion 1</a>
    <a mat-button class="sidenav_btn" routerLink="/noExiste">Opcion 2</a>
    <a mat-button class="sidenav_btn" routerLink="/noExiste">Opcion 3</a>
    <p class="copyright">
      Esta pagina fue diseñada y programada por Federico Tocco para entrega del
      Trabajo Final del curso de Angular de la UTN. Todos los derechos
      reservados
    </p>
  </mat-sidenav>

  <mat-sidenav-content style="height: 100vh">
    <div
      [class]="opened ? 'content content__onOpen' : 'content content__onClose'"
    >
      <ng-content></ng-content></div
  ></mat-sidenav-content>
</mat-sidenav-container>
