.registroForm__input {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  padding: 0.7rem 2rem;
  color: #7a7a7a;
  border-radius: 2rem;
  appearance: textfield;
  border: 2px solid rgb(43, 43, 43);
  background-color: rgb(0, 0, 0);
  transition: all 0.2s;
  z-index: 500;
}

.registro__input {
  width: 20rem;
  height: 2rem;
}

@media (max-width: 37em) {
  .registro__input {
    box-sizing: border-box;
    height: 3.5rem;
  }
}

.registroForm__input:focus {
  outline: none;
  box-shadow: -0.05rem 0rem 0.45rem 0.1rem black;
}
.registroForm__input:focus + .registroForm__input_span {
  visibility: visible;
  opacity: 1;
  transform: scale(1) translate(0, 0);
}
.registroForm__input:focus ~ .registroForm__input_space {
  opacity: 1;
}
.registroForm__input::placeholder {
  color: #383838;
}
.registroForm__input:focus::placeholder {
  opacity: 0;
}
.registroForm__input_span {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  position: absolute;
  font-size: 1.2rem;
  top: -10%;
  left: 7.4%;
  opacity: 0;
  visibility: hidden;
  padding: 0rem 1rem;
  z-index: 1;
  line-height: 0.56;
  transform: scale(1.5) translate(1.2rem, 1.5rem);
  transition: transform 0.4s 0.1s ease-out, opacity 0.1s ease-out;
  color: #3f3f3f;
}
.registroForm__input_space {
  background-color: black;
  position: absolute;
  top: -1%;
  left: 8%;
  height: 1rem;
  opacity: 0;
  z-index: 0;
  display: block;
  transition: opacity 0.3s ease-out;
}

.normal-space {
  width: 49%;
}

.small-space {
  width: 43%;
}

.extra-space {
  width: 60%;
}

.registroForm__input_cont {
  display: inline-block;
  position: relative;
}

.isInvalid {
  transition: all 0.2s;
  border-left: 5px solid #a94442; /* red */
}

.isValid {
  transition: all 0.4s;
  border-left: 5px solid #3f7e27; /* red */
}
