.home {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18.5rem, 0.2fr));
  grid-auto-rows: minmax(20rem, 27rem);
  justify-content: center;
  column-gap: 8rem;
  row-gap: 6rem;
  position: relative;
  margin: 0 auto;
}
