<p style="margin: 0" class="topbar">
  <mat-toolbar>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
      (click)="openCloseMenu()"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="spacer"></span>
    <button mat-button class="menu_btn">Login</button>
    <button mat-button class="menu_btn">Registro</button>
    <button mat-button class="menu_btn">Perfil</button>
  </mat-toolbar>
</p>
